VITE_SUPABASE_URL=https://ayqxgekaorymguxklojw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5cXhnZWthb3J5bWd1eGtsb2p3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwMDAwOTgsImV4cCI6MjEwMTU3NjA5OH0.a5CiCHUfEVkotnN-OCH8E6oKmif0PN8xdXSHfoyphao
